{% extends "!simple/base.html" %}

{%- block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/site.css" />
  <link href="{{ SITEURL }}/{{ FEED }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} ATOM Feed" />
  <link href="{{ SITEURL }}/{{ FEED_RSS }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
  <script src="{{ SITEURL }}/theme/js/vendor.js"></script>
  <script src="{{ SITEURL }}/theme/js/site.js"></script>
{% endblock head -%}
