// Global
@site: "rtd-common";
@reset: "rtd-common";

// Elements
@button: "rtd-common";
@container: "rtd-common";
@divider: "rtd-common";
@emoji: "rtd-common";
@flag: "rtd-common";
@header: "rtd-common";
@icon: "rtd-common";
@image: "rtd-common";
@input: "rtd-common";
@label: "rtd-common";
@list: "rtd-common";
@loader: "rtd-common";
@placeholder: "rtd-common";
@rail: "rtd-common";
@reveal: "rtd-common";
@segment: "rtd-common";
@step: "rtd-common";
@text: "rtd-common";

// Collections
@breadcrumb: "rtd-common";
@form: "rtd-common";
@grid: "rtd-common";
@menu: "rtd-common";
@message: "rtd-common";
@table: "rtd-common";

// Modules
@accordion: "rtd-common";
@calendar: "rtd-common";
@checkbox: "rtd-common";
@dimmer: "rtd-common";
@dropdown: "rtd-common";
@embed: "rtd-common";
@modal: "rtd-common";
@nag: "rtd-common";
@popup: "rtd-common";
@progress: "rtd-common";
@slider: "rtd-common";
@rating: "rtd-common";
@search: "rtd-common";
@shape: "rtd-common";
@sidebar: "rtd-common";
@sticky: "rtd-common";
@tab: "rtd-common";
@toast: "rtd-common";
@transition: "rtd-common";

// Views
@ad: "rtd-common";
@card: "rtd-common";
@comment: "rtd-common";
@feed: "rtd-common";
@item: "rtd-common";
@statistic: "rtd-common";

// This path is very intention and shouldn't be changed. We have multiple
// include paths set up in the less-loader (see webpack.config.mjs), and all
// these paths contain a theme in the location `themes/{theme_name}`. By using
// ordered include paths, less-loader will try to resolve the theme location in
// the correct order, even if that theme is not in the expected path of:
// `node_modules/fomantic-ui-less/themes/`
@themesFolder: "themes";

// This is the path to the `rtd-site` theme folder, which is now included
// as a site folder instead of a theme. The effect is the same however. This
// resolves using the first less-loader path in Webpack.
@siteFolder: "src/sui/themes/rtd-site/";

// Import theme
@import (multiple) "theme.less";
