{% macro old_step(image, header, icon=None) %}
  <div class="ui sixteen wide computer sixteen wide tablet sixteen wide mobile column">
    <div x-class="ui very padded large segment">
      <div class="ui vertically padded top aligned grid">

        <div class="sixteen wide mobile eleven wide computer column">
          <div class="ui grid">
            <div class="right aligned three wide tablet three wide computer only column">
              {% if icon %}
              <i class="fad {{ icon }} big inverted circular shadowed secondary icon"></i>
              {% endif %}
            </div>
            <div class="sixteen wide mobile thirteen wide tablet thirteen wide computer column">
              <h2 class="ui medium header">
                {{ header }}
              </h2>

              {{ caller() }}

            </div>
          </div>
        </div>

        <div class="center aligned sixteen wide mobile sixteen wide tablet five wide computer column">
          <img src="{{ image }}" class="ui rounded centered image" />
        </div>

      </div>
    </div>
  </div>
{% endmacro %}

{% macro step(image, header, icon=None) %}
<div class="sixteen wide mobile sixteen wide tablet ten wide computer column">
    <div class="ui grid">
      <div class="right aligned three wide tablet three wide computer only column">
        {% if icon %}
          <i class="fad {{ icon }} big inverted circular shadowed secondary icon"></i>
        {% endif %}
      </div>
      <div class="sixteen wide mobile thirteen wide tablet thirteen wide computer column">
        <h2 class="ui medium header">
          {{ header }}
        </h2>

        {{ caller() }}

      </div>
    </div>
  </div>

  <div class="center aligned sixteen wide mobile eight wide tablet six wide computer column">
    {% if image %}
      <img src="{{ image }}" class="ui rounded centered image" />
    {% endif %}
  </div>
{% endmacro %}

