{#
  The SaaS feature comparison table
#}
{% macro feature_table() %}
  <table class="ui mini unstackable celled table" id="feature-table">

    {% macro _feature_table_row() %}
      <tr>
        <th class="eight wide" scope="col"></th>
        <th class="two wide center aligned" scope="col">
          <img class="center aligned" src="{{ SITE_URL }}/images/github-logo.svg" width="80%" alt="GitHub Pages">
        </th>
        <th class="two wide center aligned" scope="col">
          <img class="center aligned" src="{{ SITE_URL }}/theme/img/logo-wordmark-dark.svg" alt="Read the Docs">
        </th>
      </tr>
    {% endmacro %}

    <thead class="ui sticky" data-module="sticky" data-module-context="#feature-table">
      {{ _feature_table_row() }}
    </thead>
    <tbody>
      {{ caller() }}
    </tbody>
    <tfoot>
      {{ _feature_table_row() }}
    </tfoot>
  </table>
{% endmacro %}

{#
  Feature row in the feature table

  Similar to plan features list above, each item has an icon, header, and
  description line of text. The remaining parameters control what is shown
  for each plan. These can be binary values to output check marks, `None` to
  be blank, or a string to output text to the plan's cell.

  Again, this supports the `show_community_features` global, until we confirm
  this mixed display is not confusing.
#}
{% macro feature_row(name, description, icon, on_github=False, on_readthedocs=True) %}
  <tr>
    <td>
      <div class="ui small header">
        {% if "fa-osi" in icon %}
        <i class="{{ icon }} icon"></i>
        {% else %}
        <i class="fad {{ icon }} icon"></i>
        {% endif %}
        <div class="content">
          {{ name }}
          <div class="sub header">
            {{ description }}
          </div>
        </div>
      </div>
    </td>
    {{ feature_row_cell(on_github) }}
    {{ feature_row_cell(on_readthedocs) }}
  </tr>
{% endmacro %}

{#
  Feature row cell helper

  This is the logic for each plan's cell for each feature. Values are:

  (value, cell_class_name)
    Pass in an optional class name for the cell, ``value`` is processed using
    the same rules as a non-tuple ``value``.

  True
    Show a check

  Anything truthy
    Show the string representation

  False
    Show an xmark
#}
{% macro feature_row_cell(value) %}
  {% if value is iterable and value is not string and value | length == 2 %}
    {% set (value, class_name) = value %}
  {% endif %}
  {% if value == True %}
    <td class="center aligned {{ class_name|default("positive") }}"><i class="fad fa-circle-check large icon"></i></td>
  {% elif value %}
    <td class="center aligned {{ class_name|default("positive") }}">{{ value }}</td>
  {% else %}
    <td class="center aligned disabled"><i class="fad fa-circle-xmark large icon"></i></td>
  {% endif %}
{% endmacro %}
