{# For features list section. A left floated icon and supporting header/text #}
{% macro feature_detail_item(header, icon, paid=False) %}
  <div class="sixteen wide mobile eight wide tablet five wide computer column">
    <div class="ui padded grid">
      <div class="three wide computer two wide tablet three wide mobile right aligned column">
        <i class="{{ icon }} big teal icon"></i>
      </div>
      <div class="thirteen wide computer fourteen wide tablet thirteen wide mobile left aligned column">
        <h3 class="ui small header">
          {{ header }}
          {% if paid %}
          <span class="sub header">
            <i class="fad fa-square-dollar violet icon"></i>
            <span class="ui violet text">Paid plan feature</span>
          </span>
          {% endif %}
        </h3>
        <p>
          {{ caller() }}
        </p>
      </div>
    </div>
  </div>
{% endmacro %}

{# For resource/blog post listing at the bottom of the page #}
{% macro resource(title, link, icon, color="primary", image=None) %}
  <div class="five wide computer twelve wide tablet column">
    <div class="ui padded grid">
      <div class="three wide right aligned column">
        <i class="{{ icon }} big {{ color }} icon"></i>
      </div>

      <div class="thirteen wide left aligned column">
        {% if image %}
          <p>
            <img src="{{ image }}" class="ui fluid rounded image" />
          </p>
        {% endif %}
        <a class="ui small {{ color }} header" href="{{ link }}">
          {{ title }}
        </a>
        <p>
          {{ caller() }}
        </p>
      </div>
    </div>
  </div>
{% endmacro %}
