{#
  Main plan block for commercial plan cards
#}
{% macro plan(name, price_details, color="teal", highlight=False, tagline=None, inverted=False) %}
  {% set _has_price = price_details | length > 0 %}
  <div class="{% if not _has_price %} computer only {%- endif %} column">
    <div class="ui {%- if _has_price %} raised padded {%- if inverted %} inverted {%- endif %} {{ color }} {%- else %} basic {%- endif %} segment">

      <h2 class="ui {%- if inverted %} inverted {%- elif color %} {{ color }} {%- endif %} medium center aligned header">
        {{ name }}
        {% if tagline %}
          <span class="sub header">
            <span class="ui small text">{{ tagline }}</span>
          </span>
        {% endif %}
      </h2>

      {% if price_details %}
        {% for value, label in price_details %}
          <div class="ui horizontally fitted basic small segment">
            <div class="ui tiny center aligned {%- if inverted %} inverted {%- endif %} one statistics">
              <div class="statistic">
                <div class="value">
                  {{ value }}
                </div>
                {% if label %}
                  <div class="label">
                    <span class="category">{{ label }}</span>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      {% endif %}

      {{ caller() }}

        {% if highlight %}
        <div class="ui {{ color }} bottom attached label">
          <i class="fas fa-fire icon"></i>
          Our most popular plan
        </div>
        {% endif %}

    </div>
  </div>
{% endmacro %}

{#
  A row in the plan() block

  Includes an icon, header text, and description line of text. Each item should
  have all of these defined.
#}
{% macro plan_feature(name, description, icon, color=None) %}
  <div class="left aligned item">
    <i class="fad {%- if color %} {{ color }} {%- endif %} {{ icon }} medium middle aligned icon"></i>
    <div class="content">
      <div class="header">{{ name }}</div>
      {% if description %}
        <div class="description">{{ description }}</div>
      {% endif %}
    </div>
  </div>
{% endmacro %}


{#
  The plan feature comparison table
#}
{% macro feature_table() %}
  <table class="ui mini unstackable celled head first stuck table" id="feature-table">

    {% macro _feature_table_row() %}
      <tr>
        <th class="ten wide" scope="col">
          <div class="ui small header">Features</div>
        </th>
        <th class="two wide center aligned" scope="col">
          <div class="ui small header">Basic</div>
        </th>
        <th class="two wide center aligned" scope="col">
          <div class="ui small header">Advanced</div>
        </th>
        <th class="two wide center aligned" scope="col">
          <div class="ui small header">Pro</div>
        </th>
      </tr>
    {% endmacro %}

    <thead>
      {{ _feature_table_row() }}
    </thead>
    <tbody>
      {{ caller() }}
    </tbody>
  </table>
{% endmacro %}

{#
  Feature row in the feature table

  Similar to plan features list above, each item has an icon, header, and
  description line of text. The remaining parameters control what is shown
  for each plan. These can be binary values to output check marks, `None` to
  be blank, or a string to output text to the plan's cell.
#}
{% macro feature_row(name, description, icon, on_basic=True, on_advanced=True, on_pro=True) %}
  <tr>
    <td>
      <div class="ui small header">
        <i class="fad {{ icon }} icon"></i>
        <div class="content">
          {{ name }}
          <div class="sub header">
            {{ description }}
          </div>
        </div>
      </div>
    </td>
    {{ feature_row_cell(on_basic) }}
    {{ feature_row_cell(on_advanced) }}
    {{ feature_row_cell(on_pro) }}
  </tr>
{% endmacro %}

{#
  Feature row cell helper

  This is the logic for each plan's cell for each feature. Values are:

  (value, cell_class_name)
    Pass in an optional class name for the cell, ``value`` is processed using
    the same rules as a non-tuple ``value``.

  True
    Show a check

  Anything truthy
    Show the string representation

  False
    Show an xmark
#}
{% macro feature_row_cell(value) %}
  {% if value is iterable and value is not string and value | length == 2 %}
    {% set (value, class_name) = value %}
  {% endif %}
  {% if value == True %}
    <td class="center aligned {{ class_name|default("positive") }}"><i class="fad fa-circle-check large icon"></i></td>
  {% elif value %}
    <td class="center aligned {{ class_name|default("positive") }}">{{ value }}</td>
  {% else %}
    <td class="center aligned disabled"><i class="fad fa-circle-xmark large icon"></i></td>
  {% endif %}
{% endmacro %}
