{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}


{% block title %}{{ article.title|striptags  }} - {{ SITENAME }}{% endblock %}


{% block content %}


  <!-- Article -->
  <section class="ui vertical segment padded" id="article">

    <div class="ui container">
      <div class="ui grid centered">
        <div class="column twelve wide computer fourteen wide tablet sixteen wide mobile">


          <h1 class="ui header">
            <span class="ui header">{{ article.title }}</span>
          </h1>

          <div class="ui basic vertical segment clearing">
            <div class="ui fitted divider"></div>
            <div class="ui basic vertical segment left floated">{% for author in article.authors %}{{ author }}{% if not loop.last %}, {% endif %}{% endfor %}</div>
            <div class="ui basic vertical segment right floated"><time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time></div>
          </div>

          <img class="ui fluid image" src="{{ article.image or '/images/posts/default.jpg' }}" alt="{{ article.image_credit }}">
          {% if article.image and article.image_credit %}
            <div class="ui basic vertical segment center aligned">
              <p class="ui"><i>{{ article.image_credit}}</i></p>
            </div>
          {% endif %}

          <div class="ui basic vertical segment padded">
            {{ article.content }}
          </div>

        </div>

      </div>
    </div>

  </section>

{% endblock content %}
