{% extends "base.html" %}
{# This is the blog index, not the home page template #}

{#
  In order to split up the rows into multiple sizes (2 column and 3 column) we
  use this macro for the redundant card definitions.
#}
{% macro article_card(article) %}
  <a class="ui card" href="/{{ article.url }}">
    <div class="image">
      <img src="{{ article.image  or '/images/posts/default.svg'}}" alt="{{ article.image_credit|striptags }}">
    </div>
      <div class="content">
      <div class="header">{{ article.title }}</div>
      <div class="meta">
        <span class="date"><time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time></span>
      </div>
      <div class="description">
        {% if article.description %}
          {{ article.description|striptags|escape }}
        {% else %}
          {{ article.summary|striptags|escape }}
        {% endif %}
      </div>
    </div>
    <div class="extra content">
      <div class="right floated">
        {% for author in article.authors %}{{ author }}{% if not loop.last %}, {% endif %}{% endfor %}
      </div>
      <div class="left">
        {% if article.category %}
          <span class="ui secondary label">
            {{ article.category }}
          </span>
        {% endif %}
      </div>
    </div>
  </a>
{% endmacro %}

{% block title%} Blog - Read the Docs {% endblock %}

{% block content %}

  <section>
    <div class="ui very padded container">
      {% block content_breadcrumbs %}
        <div class="ui breadcrumb">
          <a class="section" href="/">Home</a>
          <div class="divider"> / </div>
          <div class="active section">Blog</div>
        </div>
      {% endblock content_breadcrumbs %}

      {% block content_title %}
        <div class="ui header">
          Latest blog posts
        </div>

        <div class="ui info message">
          <div class="header">
            Welcome to our new blog
          </div>
          <div>
            <p>
              We will be adding news and updates here in the future.
              Make sure to subscribe if you would like to be notified of new posts.
            </p>

            <div class="ui list">
              <div class="item">
                <i class="fad fa-envelope icon"></i>
                <div class="content">
                  Subscribe to <a href="https://landing.mailerlite.com/webforms/landing/t0a9l4" target="_blank">our newsletter</a>.
                </div>
              </div>
              <div class="item">
                <i class="fad fa-feed icon"></i>
                <div class="content">
                  Subscribe to <a href="/feeds/feed.rss">our RSS feed</a> or <a href="/feeds/atom.xml" target="_blank">our Atom feed</a> with your favorite reader.
                </div>
              </div>
              <div class="item">
                <i class="fad fa-clock-rotate-left icon"></i>
                <div class="content">
                  Find our past posts and updates on <a href="https://blog.readthedocs.com" target="_blank">our archived blog</a>.
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endblock content_title %}
    </div>
  </section>

  <section>
    <div class="ui very padded container">

      {# Latest two posts are large, use 2 columns #}
      <div class="ui two cards stackable">
        {% for article in articles_page.object_list[0:2]  %}
          {{ article_card(article) }}
        {% endfor %}
      </div>

      {# The remaining blog posts are smaller, use 3 columns #}
      <div class="ui three cards stackable">
        {% for article in articles_page.object_list[2:] %}
          {{ article_card(article) }}
        {% endfor %}
      </div>

    </div>
  </section>

  <section>
    <div class="ui very padded container">
      {% if articles_page.has_other_pages() %}
        {% include 'includes/pagination.html' %}
      {% endif %}
    </div>
  </section>

{% endblock content %}
