<footer class="ui basic very padded inverted attached segment">
  <div class="ui container">

    {% block footer_links %}
      <div class="ui four column stackable grid very padded">

        <div class="column">
          <div class="ui vertical inverted text menu">
            {% block menu_news %}
              <h4 class="ui sub header">Stay updated</h4>
              <a class="item" href="https://blog.readthedocs.com/">Blog</a>
              <a class="item" href="https://landing.mailerlite.com/webforms/landing/t0a9l4">Newsletter</a>
              <a class="item" href="https://status.readthedocs.com/">Status</a>
              <div class="item">
                <a href="https://github.com/readthedocs/" aria-label="Read the Docs on GitHub" rel="noopener noreferrer"><i class="icon large fab fa-github"></i></a>
                <a href="https://twitter.com/readthedocs" aria-label="Read the Docs on Twitter" rel="noopener noreferrer"><i class="icon large fab fa-twitter"></i></a>
                <a href="https://fosstodon.org/@readthedocs" aria-label="Read the Docs on Mastodon / Fediverse" rel="me"><i class="icon large fab fa-mastodon"></i></a>
              </div>
            {% endblock menu_news %}
          </div>
        </div>

        <div class="column">
          <div class="ui vertical inverted text menu">
            {% block menu_learn %}
              <h4 class="ui sub header">Learn more</h4>
              <a class="item" href="https://docs.readthedocs.io">Documentation</a>
              <a class="item" href="https://docs.readthedocs.io/page/tutorial/index.html">Getting started guide</a>
              <a class="item" href="https://docs.readthedocs.io/page/config-file/v2.html">Configure your project</a>
            {% endblock menu_learn %}
          </div>
        </div>

        <div class="column">
          <div class="ui vertical inverted text menu">
            {% block menu_services %}
              <h4 class="ui sub header">Services</h4>
              <a class="item" href="/pricing/">Pricing</a>
              <a class="item" href="/about/">Features</a>
              <a class="item" href="https://www.ethicalads.io/advertisers/?ref=rtd">Advertise with Us</a>
              <a class="item" href="https://docs.readthedocs.io/page/privacy-policy.html">Privacy Policy</a>
              <a class="item" href="https://docs.readthedocs.io/page/terms-of-service.html">Terms of Service</a>
            {% endblock menu_services %}
          </div>
        </div>

        <div class="column">
          <div class="ui vertical inverted text menu">
            {% block menu_about %}
              <h4 class="ui sub header">About us</h4>
              <a class="item" href="{{ SITEURL }}/company/">Company</a>
              <a class="item" href="https://docs.readthedocs.io/page/team.html">Team</a>
              <a class="item" href="https://dev.readthedocs.io/page/contribute.html">Contributing</a>
              <h4 class="ui sub header">Tools</h4>
              <a class="item" href="/tools/sphinx/">Sphinx</a>
            {% endblock menu_about %}
          </div>
        </div>

      </div>
    {% endblock footer_links %}

    {% block copyright %}
      <div class="ui basic center aligned inverted segment">
        <i class="fad fa-copyright icon"></i>
        Copyright 2022, Read the Docs, Inc &amp; contributors
      </div>
    {% endblock copyright %}

    {% block sponsors %}
      {# This makes more sense just on the application footer. This site will be eventually used for comercial as well. #}
      {% if false %}
        <div class="ui horizontal divider very padded">
          Sponsored by
        </div>

        <div class="ui six column doubling grid container">
          <div class="column bottom aligned centered">
            <div class="ui tiny header centered">
              <a href="https://aws.amazon.com/" rel="noopener" target="_blank">
                <img class="ui tiny centered image" src="/theme/img/sponsors/aws.png" alt="Amazon Web Services" />
                AWS
                <div class="sub header">Cloud Computing</div>
              </a>
            </div>
          </div>
          <div class="column bottom aligned centered">
            <div class="ui tiny header centered">
              <a href="https://cloudflare.com" rel="noopener" target="_blank">
                <img class="ui tiny centered image" src="/theme/img/sponsors/cloudflare.png" alt="CloudFlare">
                Cloudflare
                <div class="sub header">DNS &amp; SSL</div>
              </a>
            </div>
          </div>
          <div class="column bottom aligned centered">
            <div class="ui tiny header centered">
              <a href="https://sentry.io/" rel="noopener" target="_blank">
                <img class="ui tiny centered image" src="/theme/img/sponsors/sentry.png" alt="Sentry">
                Sentry
                <div class="sub header">Monitoring</div>
              </a>
            </div>
          </div>
          <div class="column bottom aligned centered">
            <div class="ui tiny header centered">
              <a href="https://www.elastic.co/" rel="noopener" target="_blank">
                <img class="ui tiny centered image" src="/theme/img/sponsors/elastic.png" alt="Elastic">
                Elastic
                <div class="sub header">Search</div>
              </a>
            </div>
          </div>
          <div class="column bottom aligned centered">
            <div class="ui tiny header centered">
              <a href="https://newrelic.com/" rel="noopener" target="_blank">
                <img class="ui tiny centered image" src="/theme/img/sponsors/newrelic.png" alt="New Relic">
                New Relic
                <div class="sub header">Performance</div>
              </a>
            </div>
          </div>
          <div class="column bottom aligned centered">
            <div class="ui tiny header centered">
              <a href="https://www.pagerduty.com/" rel="noopener" target="_blank">
                <img class="ui tiny centered image" src="/theme/img/sponsors/pagerduty.png" alt="PagerDuty">
                PagerDuty
                <div class="sub header">Monitoring</div>
              </a>
            </div>
          </div>
        </div>
      {% endif %}
    {% endblock sponsors %}

  </div>
</footer>
