{% macro menu_main() %}
  <a class="item{% if page and page.slug == 'features' %} active" aria-current="page{% endif %}" href="{{ SITEURL }}/features/">Features</a>
  <a class="item{% if page and page.slug == 'pricing' %} active" aria-current="page{% endif %}" href="{{ SITEURL }}/pricing/">Pricing</a>
{% endmacro %}

{% macro menu_help() %}
  <a class="item" href="https://docs.readthedocs.io/page/support.html">
    <i class="fad fa-envelope primary icon"></i>
    Support
    <span class="description">
      <i class="fad fa-external-link icon"></i>
    </span>
  </a>
  <a class="item" href="https://docs.readthedocs.io">
    <i class="fad fa-book primary icon"></i>
    Documentation
    <span class="description">
      <i class="fad fa-external-link icon"></i>
    </span>
  </a>
  <a class="item" href="https://docs.readthedocs.io/en/stable/tutorial/index.html#getting-started">
    <i class="fad fa-rocket primary icon"></i>
    Tutorial
    <span class="description">
      <i class="fad fa-external-link icon"></i>
    </span>
  </a>
  <a class="item" href="http://status.readthedocs.com">
    {% block menu_help_status %}
      {% if has_status_check %}
        {# TODO get some data from status page API to light this up #}
        <i class="fad fa-circle-check green icon"></i>
        Status
        <span class="description">
          <span class="ui green text">Online</span>
        </span>
      {% else %}
        <i class="fad fa-circle-check primary icon"></i>
        Status
        <span class="description">
          <i class="fad fa-external-link icon"></i>
        </span>
      {% endif %}
    {% endblock menu_help_status %}
  </a>
{% endmacro %}

{# Application links to log in #}
{% macro menu_log_in() %}
  <a class="item" data-analytics="community-login" href="https://readthedocs.org/dashboard/">
    <i class="fad fa-people-group primary icon"></i>
    Read the Docs Community

    <p class="ui mini grey text">
      <code>https://readthedocs.org</code>
    </p>
  </a>
  <a class="item" data-analytics="commercial-login" href="https://readthedocs.com/dashboard/">
    <i class="fad fa-building secondary icon"></i>
    Read the Docs for Business

    <p class="ui mini grey text">
      <code>https://readthedocs.com</code>
    </p>
  </a>
  <div class="ui divider"></div>
  <a class="item" href="/choosing-a-platform/">
    <i class="fad fa-circle-question grey icon"></i>
    Learn more
  </a>
{% endmacro %}

{# Application links to sign up #}
<div class="ui basic fitted attached segment">
  <div class="ui container">
    <div class="ui middle aligned grid">

      {% block topnav_logo %}
        <div class="four wide computer five wide tablet eleven wide mobile left aligned column">
          <div class="ui horizontally fitted basic segment">
            <a href="{{ SITEURL }}/" aria-label="Read the Docs homepage">
              <img class="ui image" src="{{ SITEURL }}/theme/img/logo-wordmark-dark.svg" width="220" alt="Read the Docs logo"/>
            </a>
          </div>
        </div>
      {% endblock topnav_logo %}

      {#
        The top menu for mobile devices, doesn't show on tablet/computer.
      #}
      {% block topnav_mobile_menu %}
        <div class="five wide mobile only right aligned column">
          <div class="ui wide dropdown" data-module="dropdown" data-action="select">
            <i class="fad fa-bars large icon" style="--fa-secondary-opacity: 0.8;"></i>
            <div class="menu">

              <div data-analytics="login-modal" class="header">Log in</div>
              {{ menu_log_in() }}

              <div class="divider"></div>

              <div data-analytics="login-modal" class="header">Sign Up</div>
              <div class="item">
                <a class="ui button"
                data-analytics="signup-modal"
                 onclick="jQuery('#signup-modal').modal('show');">
                  Sign up
                </a>
              </div>

              <div class="divider"></div>

              <div class="header">Navigation</div>
              <a class="item{% if page and page.slug == 'homepage' %} active" aria-current="page{% endif %}" href="{{ SITEURL }}/index.html">Home</a>
              {{ menu_main() }}

              <div class="divider"></div>

              <div class="header">Help</div>
              {{ menu_help() }}

            </div>
          </div>
        </div>
      {% endblock topnav_mobile_menu %}

      {#
        The top menu shown on tablet/computer. Horizontal menu items instead of dropdown.
      #}
      {% block topnav_menu %}
        <div class="twelve wide computer eleven wide tablet left aligned tablet only computer only column">
          <div class="ui huge borderless secondary menu">
            {{ menu_main() }}

            <div class="right menu">

              <div class="item">
                {# TODO: Add support page to marketing website #}
                <div class="ui circular basic icon dropdown button" data-module="dropdown" data-action="select" data-display-type="block">
                  <i class="fa-solid fa-message-question icon"></i>
                  <div class="menu">
                    {{ menu_help() }}
                  </div>
                </div>
              </div>

              <div class="item">
                <div class="ui floating dropdown icon" data-module="dropdown" data-action="select" data-display-type="block">
                  <a class="ui">
                    Log in
                  </a>
                  <div class="menu">
                    {{ menu_log_in() }}
  -                </div>
                </div>
              </div>

              <div class="item">
                <a class="ui button"
                data-analytics="signup-modal"
                 onclick="jQuery('#signup-modal').modal('show');">
                  Sign up
                </a>
              </div>

            </div>
          </div>
        </div>
      {% endblock topnav_menu %}

    </div>
  </div>
</div>


{% block signup_modal %}
<div class="ui modal"
       id="signup-modal"
       data-module="modal"
       data-inverted="true">
    <div class="header">Get started with Read the Docs</div>
    <div class="content">
      <div class="ui center aligned basic fitted segment">
        <p>
          Which site best fits your project?
        </p>
      </div>

      <div class="ui stacking centered grid">
        <div class="stretched row">

          <div class="seven wide computer sixteen wide tablet column">
            <div class="ui raised segment">
              <div class="ui header">
                Read the Docs Community
                <div class="sub header">
                  For free and open-source projects
                </div>
              </div>

              <div class="ui relaxed list">
                <div class="item">
                  <i class="fad fa-lock-open primary icon"></i>
                  Clone public repositories
                </div>
                <div class="item">
                  <i class="fad fa-eye primary icon"></i>
                  Public documentation
                </div>
                <div class="item">
                  <i class="fad fa-rectangle-ad primary icon"></i>
                  Ads supported hosting
                </div>
              </div>

              <div class="ui center aligned basic fitted segment">
                <p>
                  <b>Free</b> for open-source software.
                </p>

                <a class="ui primary center aligned button"
                  data-analytics="community-signup"
                   href="https://readthedocs.org/accounts/signup/">
                  Sign up
                </a>
              </div>
            </div>
          </div>

          <div class="seven wide computer sixteen wide tablet column">
            <div class="ui raised segment">
              <div class="ui header">
                Read the Docs for Business
                <div class="sub header">
                  For commercial and non-free projects
                </div>
              </div>

              <div class="ui relaxed list">
                <div class="item">
                  <i class="fad fa-lock-keyhole primary icon"></i>
                  Clone private and public repositories
                </div>
                <div class="item">
                  <i class="fad fa-eye-slash primary icon"></i>
                  Public and private documentation
                </div>
                <div class="item">
                  <i class="fad fa-users primary icon"></i>
                  Team management for your organization
                </div>
              </div>

              <div class="ui center aligned basic fitted segment">
                <p>
                  Plans starting at <b>$50/month</b>.
                </p>

                <a class="ui primary center aligned button"
                  data-analytics="commercial-signup"
                   href="https://readthedocs.com/accounts/signup">
                  Sign up
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>

    <div class="actions">
      <a href="{{ SITE_URL }}/features/" class="ui cancel button">Learn more</a>
    </div>
  </div>
{% endblock signup_modal %}
