{% macro menu_main() %}
  <a class="item{% if page and page.slug == 'product' %} active" aria-current="page{% endif %}" href="{{ SITEURL }}/product.html">Product</a>
  <a class="item{% if page and page.slug == 'pricing' %} active" aria-current="page{% endif %}" href="{{ SITEURL }}/pricing.html">Pricing</a>
{% endmacro %}

{% macro menu_help() %}
  <a class="item" href="https://readthedocs.org/support">
    <i class="fad fa-envelope primary icon"></i>
    Support
  </a>
  <a class="item" href="https://docs.readthedocs.io">
    <i class="fad fa-book primary icon"></i>
    Docs
    <span class="description">
      <i class="fad fa-external-link icon"></i>
    </span>
  </a>
  <a class="item" href="https://docs.readthedocs.io/en/stable/tutorial/index.html#getting-started">
    <i class="fad fa-rocket primary icon"></i>
    Getting started
    <span class="description">
      <i class="fad fa-external-link icon"></i>
    </span>
  </a>
  <a class="item" href="http://status.readthedocs.com">
    {% block menu_help_status %}
      {% if has_status_check %}
        {# TODO get some data from status page API to light this up #}
        <i class="fad fa-circle-check green icon"></i>
        Status
        <span class="description">
          <span class="ui green text">Online</span>
        </span>
      {% else %}
        <i class="fad fa-circle-check primary icon"></i>
        Status
        <span class="description">
          <i class="fad fa-external-link icon"></i>
        </span>
      {% endif %}
    {% endblock menu_help_status %}
  </a>
{% endmacro %}

<div class="ui basic fitted attached segment">
  <div class="ui container">
    <div class="ui middle aligned vertically padded grid">

      {% block topnav_logo %}
        <div class="four wide computer five wide tablet eleven wide mobile left aligned column">
          <a class="header item" href="{{ SITEURL }}/">
            <img class="ui image" src="{{ SITEURL }}/theme/img/logo-wordmark-dark.svg" width="220" />
          </a>
        </div>
      {% endblock topnav_logo %}

      {#
        The top menu for mobile devices, doesn't show on tablet/computer.
      #}
      {% block topnav_mobile_menu %}
        <div class="five wide mobile only right aligned column">
          <div class="ui wide dropdown" data-module="dropdown" data-action="select">
            <i class="fad fa-bars large icon" style="--fa-secondary-opacity: 0.8;"></i>
            <div class="menu">
              <div class="header">Navigation</div>
              <a class="item{% if page and page.slug == 'homepage' %} active" aria-current="page{% endif %}" href="{{ SITEURL }}/index.html">Home</a>
              {{ menu_main() }}
              <div class="divider"></div>
              <div class="header">Help</div>
              {{ menu_help() }}
              <div class="divider"></div>
              <div class="item">
                <a class="ui primary fluid button" href="https://readthedocs.org/dashboard/">
                  Open Application
                </a>
              </div>
            </div>
          </div>
        </div>
      {% endblock topnav_mobile_menu %}

      {#
        The top menu shown on tablet/computer. Horizontal menu items instead of dropdown.
      #}
      {% block topnav_menu %}
        <div class="eleven wide left aligned tablet only computer only column">
          <div class="ui huge borderless secondary menu">
            {{ menu_main() }}

            <div class="right menu">
              <div class="ui wide dropdown item" data-module="dropdown" data-action="select">
                <span class="text">Help</span>
                <i class="fad fa-caret-down icon"></i>
                <div class="menu">
                  {{ menu_help() }}
                </div>
              </div>
              <div class="item">
                <a class="ui button primary" href="https://readthedocs.org/dashboard/">
                  Open Application
                </a>
              </div>
            </div>

          </div>
        </div>
      {% endblock topnav_menu %}

    </div>
  </div>
</div>
