<html>
  <head>
    <title>About</title>
    <meta name="template" content="page" />
    <meta name="status" content="hidden" />
    <meta name="slug" content="about" />
  </head>
  <body>

{% import "partials/homepage.html" as homepage %}
{% import "partials/about.html" as about %}

<section>
  <div class="ui horizontally very padded container">
    <div class="ui very padded centered grid">
      <div class="middle aligned row">

        <div class="ten wide computer sixteen wide tablet sixteen wide mobile column">
          <div class="ui large left aligned basic vertical segment">
            <h1 class="ui huge header">
              How documentation automation works with Read the Docs
            </h1>

            {% markdown %}
            Read the Docs automates deployment of your technical documentation
            by building and hosting your project with every change to your documentation source.
            Maintain your documentation without managing extra services.
            Building, hosting, caching, authentication, and search are all included.
            {% endmarkdown %}

          </div>
        </div>

        <div class="six wide computer twelve wide tablet sixteen wide mobile column">
          <div class="ui padded basic segment">
            <div class="ui relaxed list">

              {%- set header_1 = "Maintain docs as code" %}
              {%- set icon_1 = "fa-code-branch" -%}
              <a href="#authoring" class="ui small teal header item">
                <i class="fad {{ icon_1 }} secondary big icon"></i>
                <span class="content">
                  {{ header_1 }}
                  <span class="sub header">Use your existing development workflow to maintain your documentation</span>
                </span>
              </a>

              {%- set header_2 = "Build automatically" %}
              {%- set icon_2 = "fa-gears" -%}
              <a href="#building" class="ui small header item">
                <i class="fad {{ icon_2 }} secondary big icon"></i>
                <span class="content">
                  {{ header_2 }}
                  <span class="sub header">Update your documentation whenever you push changes</span>
                </span>
              </a>

              {%- set header_3 = "Preview your changes" %}
              {%- set icon_3 = "fa-code-compare" -%}
              <a href="#review" class="ui small header item">
                <i class="fad {{ icon_3 }} secondary big icon"></i>
                <span class="content">
                  {{ header_3 }}
                  <span class="sub header">Verify changes to your documentation during review</span>
                </span>
              </a>

              {%- set header_4 = "Everything in one place" %}
              {%- set icon_4 = "fa-box-check" -%}
              <a href="#hosting" class="ui small header item">
                <i class="fad {{ icon_4 }} secondary big icon"></i>
                <span class="content">
                  {{ header_4 }}
                  <span class="sub header">We manage building, hosting, authentication, search, and analytics for you</span>
                </span>
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

{% macro about_divide(text=None) %}
  <div class="ui text container">
    <div class="ui {%- if text %} horizontal {%- endif %} divider">
      {% if text %}{{ text }}{% endif %}
    </div>
  </div>
{% endmacro %}

{{ about_divide() }}

<section>
  <div class="ui very padded container">
    <div class="ui vertically padded centered grid" id="authoring">

      {% call about.step(
          header=header_1,
          image="/images/about/authoring.png",
          image_alt="Terminal window showing commands to commit documentation changes",
          icon=icon_1) %}
        {% markdown %}
        Manage software documentation using all of the **same tools and workflow**
        you're already using for development. Write docs with your favorite editor,
        commit changes using version control, and preview changes during review.
        {% endmarkdown %}
      {% endcall %}

      {% call homepage.feature_detail_item(header="Versioning", icon="fad fa-layer-group") %}
        Give your users documentation that won't go out of date.
        Build multiple versions from commits, branches, or tags in your repository.
      {% endcall %}

      {% call homepage.feature_detail_item(header="Localization", icon="fad fa-language") %}
        Integrate with localization tools to translate your documentation in multiple languages.
      {% endcall %}

      {% call homepage.feature_detail_item(header="Track change history", icon="fad fa-code-commit") %}
        Use the same version control system that you use for development to retain change history for your documentation.
      {% endcall %}

      {% block authoring_details %}
        <div class="ui stackable equal width grid">
          <div class="stretched row">

            {% block authoring_details_providers %}
              <div class="left aligned column">
                <div class="ui very padded raised inverted teal large segment">
                  <h4 class="ui header">
                    <i class="fad fa-screwdriver-wrench icon"></i>
                    Bring your own tools 
                  </h4>

                  {% markdown %}
                  Integrate with tools like **Sphinx**, **MkDocs**, and **Jupyter Book**,
                  and track changes with **Git** or **Mercurial**.
                  Use the tools that work best for your project.
                  {% endmarkdown %}
                </div>
              </div>

              <div class="left aligned column">
                <div class="ui padded basic segment">

                  {% markdown %}
                  * Write **reStructuredText** with **Sphinx**
                  * Or write **Markdown** with **Sphinx** and **MyST**
                  * Add reference docs from **Python** code
                  * Document a RESTful API with **OpenAPI** tools
                  * Include a **Jupyter Notebook** in your docs
                  * **[Learn more about supported tools](#)**
                  {% endmarkdown %}

                </div>
              </div>
            {% endblock authoring_details_providers %}

          </div>
        </div>
      {% endblock authoring_details %}

    </div>
  </div>

  {{ about_divide() }}

  <div class="ui very padded container" id="building">
    <div class="ui vertically padded centered grid">

      {% call about.step(
          header=header_2,
          image="/images/about/building.png",
          image_alt="Project building on Read the Docs",
          icon=icon_2) %}
        {% markdown %}
        Your documentation is rebuilt whenever a change is detected in your repository,
        so every version of your documentation is **always up to date**.

        Whether your project is **Python** or **Node.js**, your project controls
        what dependencies to install and how to generate your documentation.
        {% endmarkdown %}
      {% endcall %}

      {% call homepage.feature_detail_item(header="Build customization", icon="fad fa-sparkles") %}
        Customize your documentation build to fit your needs. Install your own dependencies and run custom commands.
      {% endcall %}

      {% call homepage.feature_detail_item(header="Configuration file", icon="fad fa-file-code") %}
        Set up your project and track your project's configuration from your repository.
      {% endcall %}

      {% call homepage.feature_detail_item(header="Offline formats", icon="fad fa-file-pdf") %}
        Output PDF and EPUB formats for your documentation, for offline and cross-device viewing.
      {% endcall %}

      {% block building_details %}
        <div class="ui stackable equal width grid">
          <div class="stretched top aligned row">

            {% block building_details_providers %}
              <div class="left aligned column">
                <div class="ui very padded raised inverted teal large segment">

                  <h4 class="ui header">
                    <i class="fad fa-cloud-check icon"></i>
                    Connect to all of your repositories
                  </h4>

                  {% markdown %}
                  Read the Docs integrates with **GitHub**, **GitLab**, and **Bitbucket**
                  and can clone and build documentation from any hosted repository.
                  You can also manually connect to any repository provider that supports
                  **Git**.
                  {% endmarkdown %}

                <div class="ui five column center aligned vertically padded grid">
                  <div class="column">
                    <i class="fab fa-github large icon"></i>
                  </div>
                  <div class="column">
                    <i class="fab fa-gitlab large icon"></i>
                  </div>
                  <div class="column">
                    <i class="fab fa-bitbucket large icon"></i>
                  </div>
                </div>

                </div>
              </div>

              <div class="left aligned column">
                <div class="ui very padded large basic segment">

                  <h4 class="ui header">
                    <i class="fad fa-lock primary icon"></i>
                    <span class="content">
                      Private repository support
                      <span class="sub header">
                        <i class="fad fa-square-dollar violet icon"></i>
                        <span class="ui violet text">Paid plan feature</span>
                      </span>
                    </span>
                  </h4>

                  {% markdown %}
                  Clone from private repositories hosted on GitHub, GitLab, and Bitbucket,
                  or connect another provider by manually connecting using a provided key.
                  {% endmarkdown %}

                </div>
              </div>
            {% endblock building_details_providers %}

          </div>
        </div>
      {% endblock building_details %}

    </div>
  </div>

  {{ about_divide() }}

  <div class="ui very padded container" id="review">
    <div class="ui vertically padded centered grid">

      {% call about.step(
          header=header_3,
          image="/images/about/review.png",
          image_alt="Read the Docs pull request review checks in a GitHub pull request",
          icon=icon_3) %}
        {% markdown %}
        Rebuild your documentation and preview changes in every pull request.
        Share changes easily and help catch errors before shipping documentaiton updates.

        Supported on **GitHub** and **GitLab** repositories.
        {% endmarkdown %}

        <a class="ui basic primary button" href="https://docs.readthedocs.io/en/stable/pull-requests.html">
          Learn more
        </a>
      {% endcall %}

    </div>
  </div>

  {{ about_divide() }}

  <div class="ui very padded container" id="hosting">
    <div class="ui vertically padded centered grid">

      {% call about.step(
          header=header_4,
          image=None,
          icon=icon_4) %}
        <p>
          Focus on your documentation, not hosting your documentation.
          We support custom domains, redirects, and authentication for private documentation.
        </p>
      {% endcall %}

      {% call homepage.feature_detail_item(header="Authentication", icon="fad fa-fingerprint", paid=True) %}
        Control who has access to your documentation with integrated authentation.
      {% endcall %}

      {% call homepage.feature_detail_item(header="Bring your domain", icon="fad fa-at") %}
        Use your own custom domain for your hosted documentation, with SSL automatically configured.
      {% endcall %}

      {% call homepage.feature_detail_item(header="Integrated search", icon="fad fa-search") %}
        Help your users find what the need with integrated search across all your projects and versions.
      {% endcall %}

      {% call homepage.feature_detail_item(header="Redirects", icon="fad fa-signs-post") %}
        Avoid broken links by adding redirects for pages that have been moved or deleted. 
      {% endcall %}

    </div>
  </div>
</section>

<section>
  <div class="ui padded container">
    <div class="ui vertically padded centered grid">
      <div class="center aligned column">
        <div class="ui very padded raised inverted secondary large segment">
          <p>
            Start automating your documentation with Read the Docs.
          </p>
          <p>
            <button
               class="ui large inverted button"
               onclick="jQuery('#about-modal').modal('show');"
               type="button">
              <i class="fad fa-play icon"></i>
              Get started now
            </button>
          </p>

        </div>
      </div>
    </div>
  </div>
</section>

{% block homepage_modal %}
  {{ homepage.signup_modal("about-modal") }}
{% endblock homepage_modal %}


{{ about_divide("Additional features") }}

<section>
  <div class="ui very padded container" id="more">
    <div class="ui vertically padded centered grid">

      {% call homepage.feature_detail_item(header="Automation rules", icon="fad fa-robot") %}
        Automatically increment your documentation versions, and rebuild on new version releases.
      {% endcall %}

      {% call homepage.feature_detail_item(header="Subprojects", icon="fad fa-folder-tree") %}
        Subprojects can share a search index and a custom domain, and can help logically group sets of multiple projects.
      {% endcall %}

      {% call homepage.feature_detail_item(header="Environment variables", icon="fad fa-shield-keyhole") %}
        Use environment variables to provide secrets to your project's build commands.
      {% endcall %}

      {% call homepage.feature_detail_item(header="Analytics", icon="fad fa-chart-column") %}
        Track search query and documentation page traffic data with no additional services.
      {% endcall %}

      {% call homepage.feature_detail_item(header="Webhooks", icon="fad fa-satellite-dish") %}
        Webhooks can be sent after your project builds, so you can add new functionality.
      {% endcall %}

      {% call homepage.feature_detail_item(header="Notifications", icon="fad fa-satellite-dish") %}
        Webhooks can be sent after your project builds, so you can add new functionality.
      {% endcall %}

      {% call homepage.feature_detail_item(header="Audit log", icon="fad fa-clipboard-list", paid=True) %}
        Track and review authentication attempts for your organization and all of your private documentation projects.
      {% endcall %}

      {% call homepage.feature_detail_item(header="Team management", icon="fad fa-people-group", paid=True) %}
        Control access to your projects within your organization and group projects by teams.
      {% endcall %}

    </div>
  </div>
</section>

  </body>
</html>
