<html>
  <head>
    <title>Pricing</title>
    <meta name="description" content="Read the Docs is free for publicly hosted open source projects and has plans to meet the needs of businesses who need more features like single sign-on, private documentation, or more build resources." />
    <meta name="template" content="page" />
    <meta name="slug" content="pricing" />
    <meta name="status" content="hidden" />
  </head>
  <body>

{% import "partials/pricing.html" as pricing %}

<section id="plans">

  {% block pricing_business_header %}
    <div class="ui very padded container">
      <h1 class="ui medium header">
        Plan pricing
        <span class="sub header">
          Understand what plan fits your needs
        </span>
      </h1>
    </div>
  {% endblock pricing_business_header %}

  <div class="ui padded container">
    <div class="ui huge secondary pointing stackable menu" data-module="tabmenu" data-module-history="true">
      <div class="center menu">
        <a class="violet active item" data-tab="business">Read the Docs for Business</a>
        <a class="teal item" data-tab="community">Read the Docs Community</a>
      </div>
    </div>
    <div class="ui horizontally fitted basic active tab segment" data-tab="business">
      <div class="ui centered three column tablet stackable grid">
        <div class="stretched row">

          {% call pricing.plan(
            name="Advanced plan",
            price="$150",
            color="violet",
            highlight=True,
          ) %}
            <div class="ui list relaxed divided">
              {# TODO: Replace "core" with better terms. Not sure what is best though.. #}
              {{ pricing.plan_feature("<em>Includes all <b>core</b> features</em>", "<a href='#compare'>Compare plan features</a>", "fa-object-intersect", color="violet") }}
              {{ pricing.plan_feature("Support", "2 business day response", "fa-message-question") }}
              {{ pricing.plan_feature("Single sign-on (SSO)", "With GitHub and GitLab", "fa-key-skeleton") }}

              {{ pricing.plan_feature("Concurrent builds", "4 concurrent builds", "fa-rectangle-vertical-history fa-swap-opacity") }}
              {{ pricing.plan_feature("Custom domains", "5 custom domains", "fa-at") }}
              {{ pricing.plan_feature("Search and pageview analytics", "30 day retention", "fa-line-chart") }}
            </div>
          {% endcall %}

          {% call pricing.plan(
            name="Pro plan",
            price="$250",
            color="violet",
          ) %}
            <div class="ui list relaxed divided">
              {{ pricing.plan_feature("<em>Includes all <b>Advanced plan</b> features</em>", "<a href='#compare'>Compare plan features</a>", "fa-object-intersect", color="violet") }}
              {{ pricing.plan_feature("Concurrent builds", "6 concurrent builds", "fa-rectangle-vertical-history fa-swap-opacity") }}
              {{ pricing.plan_feature("Custom domains", "15 custom domains", "fa-at") }}
              {{ pricing.plan_feature("Support", "1 business day response", "fa-message-question") }}
              {{ pricing.plan_feature("Search and pageview analytics", "90 day retention", "fa-line-chart") }}
              {{ pricing.plan_feature("Authentication auditing", "90 day retention", "fa-user-check") }}
              {{ pricing.plan_feature("Single sign-on (SSO)", "With Google", "fa-key-skeleton") }}
            </div>
          {% endcall %}

          <div class="column">
            <div class="ui padded inverted violet segment">
              <h3 class="ui small header">
                <i class="fad fa-building icon"></i>
                <span class="content">
                  Enterprise plan
                </span>
              </h3>

              <p>
                If your organization has specific needs that aren't met by our self-serve plans, we offer enterprise plans that can be customized to your requirements.
              </p>

              <div class="ui inverted list relaxed divided">
                {{ pricing.plan_feature("Custom builders", None, "fa-robot fa-swap-opacity") }}
                {{ pricing.plan_feature("Support SLA", None, "fa-question") }}
                {{ pricing.plan_feature("SAML SSO", None, "fa-shield-keyhole") }}
                {{ pricing.plan_feature("Custom build images", None, "fa-forklift") }}
                {{ pricing.plan_feature("Advanced audit tracking", None, "fa-eyes") }}
                {{ pricing.plan_feature("Custom integrations", None, "fa-lightbulb") }}
              </div>

              <p class="ui center aligned basic segment">
                <a class="ui inverted button" href="./enterprise/">Tell us more</a>
              </p>
            </div>
          </div>

        </div>
      </div>

      <div class="ui basic center aligned padded segment">
        <a class="ui violet button" href="https://readthedocs.com/accounts/signup/" data-analytics="commercial-signup">Start your 30-day free trial</a>
      </div>


    {% block pricing_community_callout %}
      <div class="ui padded container">
        <div class="ui clearing inverted teal segment">
          <div class="ui stackable grid">

            <div class="sixteen wide tablet twelve wide computer middle aligned column">
              <i class="fad fa-trees icon"></i>
              Host <b>open source and community projects</b> for free with Read the Docs Community.
            </div>

            <div class="sixteen wide tablet four wide computer column">
              <a class="ui inverted fluid basic button" href="./#/community">
                See community pricing
              </a>
            </div>

          </div>
        </div>
      </div>
    {% endblock pricing_community_callout %}

    </div>

    <div class="ui horizontally fitted basic tab segment" data-tab="community">
      <div class="ui centered three column tablet stackable grid">
        <div class="stretched row">

          {% block pricing_opensource %}
            <div class="column">
              <div class="ui raised teal segment">
                <h2 class="ui small monospace center aligned header">
                  Community
                </h2>

                <p class="ui center aligned segment">
                  Always <b>free</b> for <b>open source and community</b> projects.
                </p>

                <div class="ui list relaxed divided">
                  {{ pricing.plan_feature("Concurrent builds", "2 concurrent builds", "fa-rectangle-vertical-history fa-swap-opacity") }}
                  {{ pricing.plan_feature("Public projects", "Host public documentation", "fa-globe") }}
                  {{ pricing.plan_feature("Public repositories", "Clone public repositories", "fa-globe") }}
                  {{ pricing.plan_feature("Custom domain", "2 custom domains", "fa-at") }}
                  {{ pricing.plan_feature("Ad supported", "Hosted documentation includes ads", "fa-ad") }}
                </div>
              </div>
            </div>
          {% endblock pricing_opensource %}

          {% call pricing.plan(
            name="Gold membership",
            price="$5",
            color="teal",
          ) %}
            <div class="ui list relaxed divided">
              {{ pricing.plan_feature("Ad free projects", "Disable ads on your projects", "fa-ad", color="light grey") }}
              {{ pricing.plan_feature("Support Read the Docs", "Keep our Community site sustainable", "fa-heart", color="red") }}
            </div>
          {% endcall %}

          {% block pricing_choosing %}
            <div class="column">
              <div class="ui padded inverted teal segment">
                <h3 class="ui small header">
                  <i class="fad fa-circle-question icon"></i>
                  <span class="content">
                    Which platform?
                  </span>
                </h3>

                <p>
                  Read the Docs Community is intended for <b>open source</b> and <b>community</b> projects,
                  and is supported by <b><a href="https://www.ethicalads.io/">EthicalAds<i class="fad fa-square-arrow-up-right icon"></i></a></b>,
                  our <b>privacy-first</b> advertising network.
                </p>

                <p>
                  <a href="./#/business">Read the Docs for Business</a> includes
                  features for hosting <b>commercial</b> and <b>private</b> documentation,
                  such as:
                </p>

                <div class="ui inverted list relaxed divided">
                  {{ pricing.plan_feature("Reader authentication and sharing", None, "fa-shield-keyhole fa-swap-opacity") }}
                  {{ pricing.plan_feature("Team management and SSO", None, "fa-users") }}
                  {{ pricing.plan_feature("Support and hosting SLAs", None, "fa-life-ring") }}
                </div>

                <p class="ui center aligned basic segment">
                  <a class="ui inverted button" href="./#compare">Compare our plans</a>
                </p>
              </div>
            </div>
          {% endblock pricing_choosing %}

        </div>
      </div>

      <div class="ui basic center aligned padded segment">
        <a class="ui teal button" href="https://readthedocs.org/accounts/signup/" data-analytics="community-signup">Sign up for a free community account</a>
      </div>

      {% block pricing_business_callout %}
        <div class="ui padded container">
          <div class="ui clearing inverted violet segment">
            <div class="ui stackable grid">

              <div class="sixteen wide tablet twelve wide computer middle aligned column">
                <i class="fad fa-briefcase icon"></i>
                Host <b>commercial and private projects</b> with Read the Docs for Business.
              </div>

              <div class="sixteen wide tablet four wide computer column">
                <a class="ui inverted fluid basic button" href="./#/business">
                  See business pricing
                </a>
              </div>

            </div>
          </div>
        </div>
      {% endblock pricing_business_callout %}

    </div>

  </div>
</section>

{# Compare plan features with a table #}
<section id="compare">
  <div class="ui padded container">

    {% call pricing.feature_table() %}
      {{ pricing.feature_row("Pricing", "Monthly pricing, annual available", "fa-receipt", "<strong>Free for open source</strong>", "<strong>$50</strong>", "<strong>$150</strong>", "<strong>$250</strong>") }}
      {{ pricing.feature_row("API access", "Write your own integrations", "fa-sparkles") }}
      {{ pricing.feature_row("Team management", "Control organization access with team permissions", "fa-users", on_community=False) }}
      {{ pricing.feature_row("Email support", "Get help with your projects and documentation", "fa-message-question", ("Best effort", "white"), "2 business days", "2 business days", ("1 business day", "olive")) }}
      {{ pricing.feature_row("Ad free", "Documentation doesn't include ads", "fa-ad", on_community=False) }}

      {{ pricing.header_row("Documentation authoring", "fa-typewriter") }}
      {{ pricing.feature_row("Public repositories", "Clone public repositories", "fa-globe") }}
      {{ pricing.feature_row("Pull request preview", "Preview changes in review", "fa-code-compare") }}
      {{ pricing.feature_row("Unlimited projects", "Manage and build any number of projects", "fa-infinity") }}
      {{ pricing.feature_row("Private repositories", "Clone private repositories", "fa-eye-slash", on_community=False) }}

      {{ pricing.header_row("Documentation building", "fa-gears") }}
      {{ pricing.feature_row("Build concurrency", "Concurrent build processes", "fa-rectangle-vertical-history fa-swap-opacity", 2, 2, 4, (6, "olive")) }}
      {{ pricing.feature_row("Custom theming", "Style your documentation however you want", "fa-paint-brush") }}
      {{ pricing.feature_row("Automatic building", "Deploy your docs on every commit", "fa-gears") }}
      {{ pricing.feature_row("Notifications", "Receive email or webhook notifications", "fa-envelope-dot") }}
      {{ pricing.feature_row("Environment variables", "Inject secrets into builds", "fa-lock-keyhole") }}
      {{ pricing.feature_row("Automation rules", "Automatically manage versions", "fa-robot") }}

      {{ pricing.header_row("Documentation hosting", "fa-browser") }}
      {{ pricing.feature_row("Documentation versioning", "Host multiple versions of your project", "fa-layer-group") }}
      {{ pricing.feature_row("Documentation localization", "Host your project localized in multiple languages", "fa-language") }}
      {{ pricing.feature_row("Subprojects", "Host multiple projects on the same domain", "fa-diagram-nested") }}
      {{ pricing.feature_row("Integrated search", "Search across all of your projects", "fa-magnifying-glass") }}
      {{ pricing.feature_row("Offline formats", "Download HTML, PDF, or EPUB formats", "fa-file-pdf") }}
      {{ pricing.feature_row("Sitemap generation", "Automatically update your project's sitemap", "fa-sitemap") }}
      {{ pricing.feature_row("Customizable error pages", "Manage your own error pages", "fa-palette") }}
      {{ pricing.feature_row("Status badges", "Show the status of your last build", "fa-badge-check") }}
      {{ pricing.feature_row("CDN hosting", "Reduce load times for your projects", "fa-clouds") }}
      {{ pricing.feature_row("Authentication auditing", "Security log of all authentication across your projects", "fa-lock-keyhole", on_community="30 days", on_basic="30 days", on_advanced="30 days", on_pro=("90 days", "olive")) }}
      {{ pricing.feature_row("Redirects", "Redirect requests for moved and deleted content", "fa-diamond-turn-right", 100, 50, 250, (500, "olive")) }}
      {{ pricing.feature_row("Documentation authentication", "Allow specific users to view your documentation", "fa-shield-keyhole", on_community=False) }}
      {{ pricing.feature_row("Single sign-on", "Sign on using external provider", "fa-right-to-bracket", on_community=None, on_basic="GitHub and GitLab", on_advanced="GitHub and GitLab", on_pro=("GitHub, GitLab, and Google", "olive")) }}
      {{ pricing.feature_row("Documentation sharing", "Provide temporary access to private documentation", "fa-user-shield", on_community=False) }}
      {{ pricing.feature_row("Custom domains", "Host documentation on your own domain name", "fa-at", on_community="2", on_basic=False, on_advanced="5", on_pro="15") }}
      {{ pricing.feature_row("Pageview analytics", "Better understand your most read pages", "fa-chart-line", on_community="30 days", on_basic=False, on_advanced="30 days", on_pro=("90 days", "olive")) }}
      {{ pricing.feature_row("Search analytics", "Understand what users are searching for", "fa-chart-line", on_community="30 days", on_basic=False, on_advanced="30 days", on_pro=("90 days", "olive")) }}
      {{ pricing.feature_row("Content embedding", "Embed sections of your documentation via API", "fa-object-subtract", on_basic=False) }}
      {{ pricing.feature_row("URL customization", "Use custom URL prefixes to match your site layout", "fa-route", on_community=False, on_basic=False, on_advanced=False, on_pro=True) }}
    {% endcall %}

  </div>
</section>

{# Enterprise customer callout #}
<section id="enterprise">
  <div class="ui very padded text container">
    <div class="ui inverted center aligned padded segment">
      <h3 class="ui small header">
        <i class="fad fa-circle-question icon"></i>
        <span class="content">
          Have additional requirements?
        </span>
      </h3>

      <p>
        We offer customized <strong>Enterprise plans for organizations</strong>. These plans support
        customized authentication, service level agreements (SLA),
        longer audit tracking and analytics storage, and many other options.
      </p>
      <a class="ui inverted button" href="/pricing/enterprise/">Inquire about our Enterprise plans</a>
    </div>
  </div>
</section>

  </body>
</html>
