<div class="ui menu fixed borderless" id="topnav">
  <div class="ui container">

    <a class="header item" href="{{ SITEURL }}/">
      <div class="ui image readthedocs-logo"><img src="{{ SITEURL }}/theme/img/logo-wordmark-dark.svg"/></div>
    </a>

    <a class="item{% if page and page.slug == "product" %} active{% endif %}" href="{{ SITEURL }}/product.html">Product{% if page and page.slug == "product" %} <span class="sr-only">(current)</span>{% endif %}</a>
    <a class="item{% if page and page.slug == "pricing" %} active{% endif %}" href="{{ SITEURL }}/pricing.html">Pricing{% if page and page.slug == "pricing" %} <span class="sr-only">(current)</span>{% endif %}</a>
    <a class="item{% if page and page.slug == "company" %} active{% endif %}" href="{{ SITEURL }}/company.html">Company{% if page and page.slug == "company" %} <span class="sr-only">(current)</span>{% endif %}</a>
    <a class="item{% if page and page.slug == "resources" %} active{% endif %}" href="">Resources{% if page and page.slug == "resources" %} <span class="sr-only">(current)</span>{% endif %}</a>

    <div class="right menu">
      <a class="item" href="">Support</a>
      <div class="item">
        <a class="ui button primary">
          Open Application
        </a>
      </div>
    </div>

  </div>
</div>
