<div class="ui menu fixed borderless" id="topnav">
  <div class="ui container">

    <a class="header item" href="{{ SITEURL }}/">
      <div class="ui image readthedocs-logo"><img src="{{ SITEURL }}/theme/img/logo-wordmark-dark.svg"/></div>
    </a>

    <a class="item{% if page and page.slug == 'product' %} active" aria-current="page{% endif %}" href="{{ SITEURL }}/product.html">Product</a>
    <a class="item{% if page and page.slug == 'pricing' %} active" aria-current="page{% endif %}" href="{{ SITEURL }}/pricing.html">Pricing</a>
    <a class="item{% if page and page.slug == 'company' %} active" aria-current="page{% endif %}" href="{{ SITEURL }}/company.html">Company</a>
    <a class="item" target="_blank" href="https://docs.readthedocs.io/en/stable/guides/">Resources</a>

    <div class="right menu">
      <a class="item" href="https://readthedocs.org/support">Support</a>
      <div class="item">
        <a class="ui button primary" href="https://readthedocs.org/dashboard/">
          Open Application
        </a>
      </div>
    </div>

  </div>
</div>
