<div class="ui menu stackable borderless" id="topnav">
  <div class="ui container">

    <a class="header item" href="{{ SITEURL }}/">
      <div class="ui image readthedocs-logo"><img src="{{ SITEURL }}/theme/img/logo-wordmark-dark.svg"/></div>
    </a>

    <a class="item{% if page and page.slug == 'product' %} active" aria-current="page{% endif %}" href="{{ SITEURL }}/product.html">Product</a>
    <a class="item{% if page and page.slug == 'pricing' %} active" aria-current="page{% endif %}" href="{{ SITEURL }}/pricing.html">Pricing</a>

    <div class="right menu">
      <div class="ui dropdown item" data-module="dropdown" data-action="select">
        <span class="text">Help</span>
        <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" href="https://readthedocs.org/support">
            <i class="primary envelope icon"></i>
            Support
          </a>
          <a class="item" href="https://docs.readthedocs.io">
            <i class="primary book icon"></i>
            Docs
            <span class="description">
              <i class="external link icon"></i>
            </span>
          </a>
          <a class="item" href="https://docs.readthedocs.io/en/stable/tutorial/index.html#getting-started">
            <i class="primary rocket icon"></i>
            Getting started
            <span class="description">
              <i class="external link icon"></i>
            </span>
          </a>
          <a class="item" href="http://status.readthedocs.com">
            <i class="green circle check icon"></i>
            Status
            <span class="description">
              <span class="ui green text">Online</span>
            </span>
          </a>
        </div>
      </div>
      <div class="item">
        <a class="ui button primary" href="https://readthedocs.org/dashboard/">
          Open Application
        </a>
      </div>
    </div>

  </div>
</div>
